<!DOCTYPE html>
<html>
<head>
    <title>Калькулятор сложных процентов</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <div class="calculator">
        <h1>Калькулятор сложного процента</h1>
        <form method="post">
            <div class="input-group">
                <label for="start">Сумма:</label>
                <input type="number" name="start" placeholder="Сумма" required>
            </div>
            <div class="input-group">
                <label for="rate">Ставка:</label>
                <input type="number" name="rate" placeholder="Ставка" required>
            </div>
            <div class="input-group">
                <label for="years">Срок:</label>
                <input type="number" name="years" placeholder="Срок" required>
            </div>
            <div class="input-group">
                <label for="monthly_deposit">Пополнение в месяц:</label>
                <input type="number" name="monthly_deposit" placeholder="Пополнение">
            </div>
            <button type="submit">Рассчитать</button>
        </form>
        {% if end %}
            <div class="result">
                Итого: {{ end }} руб.<br>Прибыль: {{ profit }} руб.
                <img src="data:image/png;base64,{{ plot_url }}" alt="График роста суммы">
            </div>
        {% endif %}
        <a href="{{ url_for('next_page') }}" class="next-button">О разработчике
        </a>
    </div>
    <script src="{{ url_for('static', filename='script.js') }}"></script>
</body>
</html>